@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: theme('colors.background.light');
    --color-text: theme('colors.gray.900');
  }

  .dark {
    --color-bg: theme('colors.background.dark');
    --color-text: theme('colors.gray.100');
  }

  html {
    direction: rtl;
  }

  body {
    @apply bg-background-light text-gray-900 font-vazir antialiased transition-colors duration-200;
    unicode-bidi: embed;
  }

  .dark body {
    @apply bg-background-dark text-gray-100;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-600 rounded-full hover:bg-gray-400 dark:hover:bg-gray-500 transition-colors;
}